<marquee><h1>AGRINSA S.A.<h1></h1></marquee>
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>Titulo</title>
    </head>    
    <body style="background:#2AC8C8">
    
  
      <div id="centrado" style="text-align:center">
        <header>
            <hgroup>
            <h2> AGRINSA S.A. </h2>
           <h2> REGISTRO DE INGRESOS DE EMPLEADO </h2>               
           <IMG SRC="static/img/agrinsa.gif" WIDTH=178 HEIGHT=180 >
           <h2><a href="admin/"> INGRESAR</a></h2>    		
          </footer>
        </div>
    </body>
</html>